/* src/styles/Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #282c34;
    color: white;
    position: fixed; /* Asegura que el header esté siempre en la parte superior */
    width: 100%; /* Asegura que el header ocupe todo el ancho */
    top: 0; /* Asegura que esté en la parte superior */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 15px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #282c34;
        padding: 10px;
        border-radius: 8px;
    }

    .nav.open {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
